In [22]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
dc_taxi = pd.read_csv('Taxicab_Trips_Sampling_in_July_2017.csv')

In [4]:
dc_taxi.head()

,OBJECTID_1,OBJECTID,TRIPTYPE,PROVIDER,METERFARE,TIP,SURCHARGE,EXTRAS,TOLLS,TOTALAMOUNT,...,TRIPTIME,PICKUP_BLOCK_LATITUDE,PICKUP_BLOCK_LONGITUDE,PICKUP_BLOCKNAME,DROPOFF_BLOCK_LATITUDE,DROPOFF_BLOCK_LONGITUDE,DROPOFF_BLOCKNAME,AIRPORT,PICKUPDATETIME_TR,DROPOFFDATETIME_TR
0,1001,27214366,PSP,"Transco, Inc.",3.52,0.00,0.25,21.75,0.0,25.52,...,1.0,38.896656,-76.947648,4000 - 4121 BLOCK OF MINNESOTA AVENUE NE,38.896656,-76.947648,4000 - 4121 BLOCK OF MINNESOTA AVENUE NE,N,2017-07-28T18:00:00.000Z,2017-07-28T18:00:00.000Z
1,1002,27214367,PSP,"Transco, Inc.",5.14,0.00,0.25,0.00,0.0,5.39,...,4.0,38.899976,-76.982460,1500 - 1599 BLOCK OF BENNING ROAD NE,38.900202,-76.994359,800 - 899 BLOCK OF H STREET NE,N,2017-07-28T18:00:00.000Z,2017-07-28T18:00:00.000Z
2,1003,27214368,PSP,"Transco, Inc.",14.32,4.67,0.25,1.00,0.0,20.24,...,23.0,38.886039,-77.018731,400 - 599 BLOCK OF C STREET SW,38.911497,-77.038485,1600 - 1618 BLOCK OF 17TH STREET NW,N,2017-07-28T19:00:00.000Z,2017-07-28T19:00:00.000Z
3,1004,27214369,PSP,"Transco, Inc.",4.33,1.12,0.25,1.00,0.0,6.70,...,2.0,38.905654,-77.042568,1800 - 1899 BLOCK OF M STREET NW,38.901930,-77.043459,900 - 999 BLOCK OF 19TH STREET NW,N,2017-07-28T19:00:00.000Z,2017-07-28T19:00:00.000Z
4,1005,27214370,PSP,"Transco, Inc.",11.89,0.00,0.25,1.00,0.0,13.14,...,18.0,38.890500,-77.025048,700 - 1199 BLOCK OF MADISON DRIVE NW,38.916384,-77.046519,1900 - 1999 BLOCK OF CONNECTICUT AVENUE NW,N,2017-07-29T14:00:00.000Z,2017-07-29T15:00:00.000Z

In [5]:
dc_taxi.shape

(228611, 29)

In [6]:
dc_taxi.dtypes

OBJECTID_1                   int64
OBJECTID                     int64
TRIPTYPE                    object
PROVIDER                    object
METERFARE                  float64
TIP                        float64
SURCHARGE                  float64
EXTRAS                     float64
TOLLS                      float64
TOTALAMOUNT                float64
PAYMENTTYPE                 object
PAYMENTCARDPROVIDER         object
PICKUPCITY                  object
PICKUPSTATE                 object
PICKUPZIP                   object
DROPOFFCITY                 object
DROPOFFSTATE                object
DROPOFFZIP                  object
TRIPMILEAGE                float64
TRIPTIME                   float64
PICKUP_BLOCK_LATITUDE      float64
PICKUP_BLOCK_LONGITUDE     float64
PICKUP_BLOCKNAME            object
DROPOFF_BLOCK_LATITUDE     float64
DROPOFF_BLOCK_LONGITUDE    float64
DROPOFF_BLOCKNAME           object
AIRPORT                     object
PICKUPDATETIME_TR           object
DROPOFFDATETIME_TR          object
dtype: object

In [7]:
dc_taxi.describe()

,OBJECTID_1,OBJECTID,METERFARE,TIP,SURCHARGE,EXTRAS,TOLLS,TOTALAMOUNT,TRIPMILEAGE,TRIPTIME,PICKUP_BLOCK_LATITUDE,PICKUP_BLOCK_LONGITUDE,DROPOFF_BLOCK_LATITUDE,DROPOFF_BLOCK_LONGITUDE
count,228611.000000,2.286110e+05,228611.000000,227266.000000,227266.000000,227266.000000,227266.000000,228611.000000,227053.000000,2.142480e+05,196581.000000,196581.000000,180638.000000,180638.000000
mean,114306.000000,2.947953e+07,12.428953,1.250630,0.249517,0.606794,0.001193,14.536324,4.470613,8.315156e+02,38.902876,-77.029668,38.904968,-77.029751
std,65994.455532,1.326066e+06,9.921780,5.336271,0.082423,1.014569,0.124076,11.932572,95.165003,1.430010e+05,0.014940,0.018711,0.016867,0.021313
min,1.000000,2.719664e+07,-82.750000,-3.000000,-37.810000,-3.750000,-1.500000,-83.000000,-32.100000,0.000000e+00,38.814661,-77.112057,38.812061,-77.113633
25%,57153.500000,2.831322e+07,7.300000,0.000000,0.250000,0.000000,0.000000,8.820000,1.000000,7.000000e+00,38.895463,-77.041686,38.896039,-77.042574
50%,114306.000000,2.949036e+07,10.000000,0.000000,0.250000,0.000000,0.000000,11.820000,1.900000,1.100000e+01,38.900339,-77.031140,38.901935,-77.030801
75%,171458.500000,3.064171e+07,14.590000,2.000000,0.250000,1.000000,0.000000,17.030000,3.310000,1.700000e+01,38.906836,-77.018731,38.910634,-77.017554
max,228611.000000,3.174758e+07,788.100000,2322.000000,8.720000,65.000000,39.010000,2333.600000,5723.260000,2.502095e+07,38.991763,-76.911744,38.991518,-76.910927

In [8]:
dc_taxi.isna().sum()

OBJECTID_1                     0
OBJECTID                       0
TRIPTYPE                       0
PROVIDER                       0
METERFARE                      0
TIP                         1345
SURCHARGE                   1345
EXTRAS                      1345
TOLLS                       1345
TOTALAMOUNT                    0
PAYMENTTYPE                    0
PAYMENTCARDPROVIDER            0
PICKUPCITY                 59176
PICKUPSTATE                53343
PICKUPZIP                  46379
DROPOFFCITY                70215
DROPOFFSTATE               54288
DROPOFFZIP                 46609
TRIPMILEAGE                 1558
TRIPTIME                   14363
PICKUP_BLOCK_LATITUDE      32030
PICKUP_BLOCK_LONGITUDE     32030
PICKUP_BLOCKNAME           32030
DROPOFF_BLOCK_LATITUDE     47973
DROPOFF_BLOCK_LONGITUDE    47973
DROPOFF_BLOCKNAME          47973
AIRPORT                        0
PICKUPDATETIME_TR              0
DROPOFFDATETIME_TR             0
dtype: int64

In [10]:
dc_taxi = dc_taxi.loc[dc_taxi.TOTALAMOUNT>0]
dc_taxi = dc_taxi.loc[dc_taxi.TOTALAMOUNT<1000]
dc_taxi = dc_taxi.loc[dc_taxi.METERFARE>0]
dc_taxi = dc_taxi.loc[dc_taxi.TRIPMILEAGE>0]
dc_taxi = dc_taxi.loc[dc_taxi.TRIPMILEAGE<200]
dc_taxi = dc_taxi.loc[dc_taxi.TRIPTIME>0]
dc_taxi = dc_taxi.loc[dc_taxi.TRIPTIME<120]
dc_taxi.AIRPORT = dc_taxi.AIRPORT == "Y"
dc_taxi["pickup_quadrant"] = dc_taxi.PICKUP_BLOCKNAME.str.extract(r"\s([NS][EW])\b")
dc_taxi["dropoff_quadrant"] = dc_taxi.DROPOFF_BLOCKNAME.str.extract(r"\s([NS][EW])\b")
dc_taxi["tipping"] = (dc_taxi.TIP>0) * 1 

dc_taxi['pickup_datetime'] = pd.to_datetime(dc_taxi.PICKUPDATETIME_TR)
dc_taxi['dropoff_datetime'] = pd.to_datetime(dc_taxi.DROPOFFDATETIME_TR)
dc_taxi['pickup_date'] = dc_taxi.pickup_datetime.dt.date
dc_taxi['pickup_hour'] = dc_taxi.pickup_datetime.dt.hour
dc_taxi['dropoff_date'] = dc_taxi.dropoff_datetime.dt.date
dc_taxi['dropoff_hour'] = dc_taxi.dropoff_datetime.dt.hour

dc_taxi = dc_taxi.drop(["OBJECTID_1", "OBJECTID"], axis=1)

In [11]:
dc_taxi.loc[dc_taxi.DROPOFFSTATE=="Virgin Islands", "DROPOFFSTATE"] = "Virginia"
dc_taxi.loc[dc_taxi.PICKUPSTATE=="Virgin Islands", "PICKUPSTATE"] = "Virginia"
dc_taxi.loc[dc_taxi.DROPOFFSTATE=="Washington", "DROPOFFSTATE"] = "District of Columbia"
dc_taxi.loc[dc_taxi.PICKUPSTATE=="Washington", "PICKUPSTATE"] = "District of Columbia"
dc_taxi.loc[dc_taxi.PAYMENTCARDPROVIDER=="Unknown = 0", "PAYMENTCARDPROVIDER"] = np.nan

In [12]:
dc_taxi.head()

,TRIPTYPE,PROVIDER,METERFARE,TIP,SURCHARGE,EXTRAS,TOLLS,TOTALAMOUNT,PAYMENTTYPE,PAYMENTCARDPROVIDER,...,DROPOFFDATETIME_TR,pickup_quadrant,dropoff_quadrant,tipping,pickup_datetime,dropoff_datetime,pickup_date,pickup_hour,dropoff_date,dropoff_hour
0,PSP,"Transco, Inc.",3.52,0.00,0.25,21.75,0.0,25.52,CreditCard,VisaCredit,...,2017-07-28T18:00:00.000Z,NE,NE,0,2017-07-28 18:00:00+00:00,2017-07-28 18:00:00+00:00,2017-07-28,18,2017-07-28,18
1,PSP,"Transco, Inc.",5.14,0.00,0.25,0.00,0.0,5.39,Cash,Cash,...,2017-07-28T18:00:00.000Z,NE,NE,0,2017-07-28 18:00:00+00:00,2017-07-28 18:00:00+00:00,2017-07-28,18,2017-07-28,18
2,PSP,"Transco, Inc.",14.32,4.67,0.25,1.00,0.0,20.24,CreditCard,MasterCardCredit,...,2017-07-28T19:00:00.000Z,SW,NW,1,2017-07-28 19:00:00+00:00,2017-07-28 19:00:00+00:00,2017-07-28,19,2017-07-28,19
3,PSP,"Transco, Inc.",4.33,1.12,0.25,1.00,0.0,6.70,CreditCard,MasterCardCredit,...,2017-07-28T19:00:00.000Z,NW,NW,1,2017-07-28 19:00:00+00:00,2017-07-28 19:00:00+00:00,2017-07-28,19,2017-07-28,19
4,PSP,"Transco, Inc.",11.89,0.00,0.25,1.00,0.0,13.14,Cash,Cash,...,2017-07-29T15:00:00.000Z,NW,NW,0,2017-07-29 14:00:00+00:00,2017-07-29 15:00:00+00:00,2017-07-29,14,2017-07-29,15

In [19]:
#does drop off location influence tips?
dc_taxi.groupby(['dropoff_quadrant'])['TIP'].sum()

dropoff_quadrant
NE     20448.91
NW    143165.76
SE     11829.27
SW     11475.14
Name: TIP, dtype: float64

In [29]:
dc_quadrants = pd.get_dummies(dc_taxi['dropoff_quadrant'])
dc_quadrants.head()

   NE  NW  SE  SW
0   1   0   0   0
1   1   0   0   0
2   0   1   0   0
3   0   1   0   0
4   0   1   0   0

In [ ]:
formula = "TOTALAMOUNT ~ TRIPMILEAGE + TRIPTIME"
model = smf.ols(formula, df).fit(cov_type="HC1")
model.summary()